
.custom-footer {
  width: 100%;
  position: relative;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  background-color: #005f74; 
}

.custom-background {
  background-color: #f0f4f8;
  padding: 3rem; 
  margin-top: 4rem; 
  margin-bottom: 3rem; 
}

.custom-text {
  font-size: 1rem;
  line-height: 1.6;
  color: #555; 
}

.custom-footer p {
  color: white; 
}

.profile-image {
  max-width: 100%;
  height: auto;
  border-radius: 50%; 
  margin-bottom: 20px;
  max-width: 150px; 
}
  
  
.about-section {
  background-color: #f9f9f9; 
  max-width: 100%;
  height: auto;
  border-radius: 50%; 
  margin-bottom: 20px;   
}

.btn {
  display: flex;                
  align-items: center;         
  justify-content: center;     
}

.btn svg {
  margin-right: 8px;           
  width: 20px;                 
  height: 20px;                
}

.btn-custom {
  background: linear-gradient(to right, #007c92, #005f74); 
  color: white;
}

.btn-custom:hover {
  background: linear-gradient(to right, #005f74, #004d5d); 
}

.btn-custom-resume {
  padding: 8px 20px;
  background-color:linear-gradient(to right, #007c92, #005f74); 
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
}


.btn-custom-resume:hover {
  background-color: linear-gradient(to right, #005f74, #004d5d); 
  color: #fff;
}

.narrow-button {
  width: 200px; 
  margin: 0 auto; 
}

.card {
  color: white;
}

.card .btn-light {
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
}

.card .btn-secondary {
  background-color: rgba(255, 255, 255, 0.5);
  color: #333;
}


form .form-control {
  border-radius: 0.25rem; 
}

form .btn-custom {
  background-color: #3498db; 
  color: #fff;
}

form .btn-custom:hover {
  background-color: #2980b9; 
}


@media (max-width: 767px) {
  .about-section .profile-image {
      margin-bottom: 20px;
      max-width: 100px; 
  }
}

